#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#cameraa
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
#botão {
    background-color:rgb(249, 105, 165);
    border-radius:10px;
    border-width:2px;
}
body {
    background-color:rgb(235, 193, 226);
}